selenium
kafka-python
pymysql
SQLAlchemy
boto3
botocore
python-dotenv==1.0.1
matplotlib

google-generativeai<0.6.0

vertexai
openinference-instrumentation-vertexai


arize-phoenix==5.2.2
arize-phoenix-otel==0.6.1
