selenium
numpy
kafka-python
pymysql
SQLAlchemy
urllib3

python-dotenv==1.0.1
matplotlib

google-generativeai<0.6.0

vertexai
openinference-instrumentation-vertexai


arize-phoenix==5.2.2
arize-phoenix-otel==0.6.1
